.text-area {
    -fx-background-color: transparent;
}

.text-area .text{
    -fx-stroke: #BF40BF;
    -fx-stroke-width: .75px;
    -fx-text-weight: bold;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}